
        * {
            box-sizing: border-box;
        }

        body {
          font-family: "Roboto", sans-serif;
        }

        h1,h3,h5,h6, .nav-link {
          font-family: 'Montserrat', sans-serif;
        }
        
        .nav-link {
          font-size: 14px;
          font-weight: 500;
        }

        #top-header {
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: #DC483A;
            
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: block;
        }

        .header-link li {
            font-size: 12px;
            display: inline-block;
            margin-left: 10px;
        }

        .header-link a {
            color: #FFF;
        }

        .header-link a:hover {
            color: black;
        }

        a:hover {
          text-decoration: none;
        }

        a {
            cursor: pointer;
          
        }

        .fa {
            margin-right: 5px;
            font-size: 14px;
        }

        .header-logo {
            float: left;
            padding: 10px 0;
            margin-left: -15px;
        }

        .navbar-dark {
            background-color: #DC483A;
        }

        .navigasi li {
            padding-right: 10px;
        }

        section, footer {
          padding-top: 30px;
          padding-bottom: 30px;
          border-bottom: 1px solid #DC483A;
        }

        .section-title h3 {
          margin-bottom: 15px;
        }

        .black-overlay{
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgba(0,0,0,.5);
        }

        .about-main p {
          line-height: 40px;
        }

        .card {
          height: 100%;
          width: 100%;
          transition: box-shadow .3s;
          border-radius:10px;
          border: 1px solid #ccc;
          background: #fff;
          float: left;
        }

        .card:hover {
          box-shadow: 0 0 15px rgba(108, 122, 137, 1);
        }
       
        .card-title, .card-body h5 {
          text-align: center;
        }

        .list-group-item {
          font-size: 14px;
        }

        .list-group-item i {
          font-size: 16px;
          margin-right: 10px;
          margin-left: -10px;
        }

        footer {
          background-color: #DC483A;
          color: #fff;
        }

        .footer-links li i {
          margin-right: 10px;
        }

        .footer-links a {
          color: #fff;
        }

        .footer-links a:hover {
          color: black;

        }
        .section {
          margin-top: 10px;  
        }

        .footer-line{
          border-top: 1px solid rgba(241, 238, 238, 0.2);
        }

        .copyright {
          padding-top: 10px;
        }

        .card-text {
          font-size: 14px;
          text-align: left;
        }

        .list-group-item img {
          width: 150px;
        }

        .list-group-item a {
          color: black;
        }

        .list-group-item a:hover {
          font-weight: bolder;
        }

        .list-group-item {
          margin-right: -20px;
        }

        .service a {
          color: black;
        }

        .form-inline button {
            height: 2.25em;
          }

        .form-inline button:hover {
          background-color:  #DC483A;
        }

        .form-inline {
            margin-top: 1em;
        }

        html {
          scroll-behavior: smooth;
        }

        #toTopBtn {
            position: fixed;
            bottom: 26px;
            right: 39px;
            z-index: 98;
            padding: 21px;
            background-color: hsla(5, 76%, 62%, .8)
        }

        .js .cd-top--fade-out {
            opacity: .5
        }

        .js .cd-top--is-visible {
            visibility: visible;
            opacity: 1
        }

        .js .cd-top {
            visibility: hidden;
            opacity: 0;
            transition: opacity .3s, visibility .3s, background-color .3s
        }

        .cd-top {
            position: fixed;
            bottom: 20px;
            bottom: var(--cd-back-to-top-margin);
            right: 20px;
            right: var(--cd-back-to-top-margin);
            display: inline-block;
            height: 40px;
            height: var(--cd-back-to-top-size);
            width: 40px;
            width: var(--cd-back-to-top-size);
            box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
            background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
            background-color: hsla(5, 76%, 62%, .8);
            background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
        }

        .fa-chevron-left,
        .fa-chevron-right {
          color: red;
          font-size: larger;
          margin-top: -10px;
          margin-right: 40px;
        } 

        .carousel-caption {
          top: 180px;
        }

        .card-body button {
          background-color: #DC483A;
          font-weight: 600;
          border-radius: 20px;
          
        }

        .card-body button:hover {
          background-color: #fff;
          color: #DC483A;
          font-weight: 600;
          border: 2px solid red;
          border-radius: 20px;
        }

        .carousel-caption .btn {
          margin-top: 10px;
          background-color: #DC483A;
          font-weight: 600;
          border-radius: 20px;
        }

        .carousel-caption .btn:hover {
          background-color: #fff;
          color: #DC483A;
          font-weight: 600;
          border: 1px solid red;
          border-radius: 20px;
        }

        .carousel-item .img-fluid {
          width:100%;
          height:100%;
        }


        @media (max-width: 576px) {

          .text-center {
            margin: auto;
          }
          
          .navbar-nav li {
            text-align: center;
            padding-top: 10px;
          }

          .logo img {
            width: 80%;
            height: auto;
            margin: 0 40px;
          }

          .form-inline input {
            width: 80%;
          }

          .form-inline {
            margin: auto;
          }

          .navbar-toogler {
            width: 100%;
            float: none;
            margin: 0 40px;
            
          }

          .header img {
            width: auto;
            height: 150px;
          }

          .carousel-caption {
            top: 10px;
          }

          .carousel-caption h1{
            font-size: 22px;
          }

          .carousel-caption .btn {
          font-size: 12px;
          }

          h3 {
            font-size: 20px;
          }

          h5 {
            font-size: 18px ;
          }

          h6 {
            font-size: 14px;
          }

          p {
            font-size: 13px;
          }

          .card-body button {
            font-size: small;
          }

          .promo img {
            width: 50%;
            height: auto;
            margin: auto;
          }

          .card-text, p {
            font-size: small;
          }

          .list-group-item img {
            width: 100px;
          }

          #promo .section-title {
            width: 50%;
          }

          .fa-chevron-left {
            margin-top: -50px;  
            margin-left: 35rem;
          }

          .fa-chevron-right {
            margin-top: -50px;  
            margin-left: 2em;
          }

          .list-group-item {
            margin-right: -10px;
          }

          .footer-links a {
            font-size: 13px;
          }

          .copyright {
            font-size: 14px;
          }

        }

